# Ignore derivatives
bids/ds005123

# Ignore scratch
bids/scratch/

# Ignore raw imaging files (extra safety)
*.nii
*.nii.gz
*.mgz
*.json #not really imaging files but there's a lot of these sidecars

# FreeSurfer outputs
*.mgz

# logs
*.log

# python cache
__pycache__/
*.pyc

# OS junk
.DS_Store
